* {
  font-family: 'Kanit', sans-serif;
}

/* navbar */

.header{
  background-color: #1F363D;
}
.header .navbar-brand{
  font-size: 35px;
  font-weight: 400;
  color : #CFE0C3
}
.header .nav-link{
  color : #70A9A1;
  margin-top : 5px;
  padding-left : 15px !important
}
.header .nav-link:hover{
  color : #eee;
}
.header button{
  padding: 7px 10px;
  border-radius: 10px;
  border : 1px solid #40798C;
  color : #70A9A1;
}
.header button:hover{
  background-color: #9EC1A3;
  color: #000;
}

/* home */
.carousel-item img{
  height: 400px !important;
  width: 100%;
}